.Button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #F1F2F3;
    border: 1px solid;
    width: 123px;
}

.teamButton {
    color: #003366;
    font-family: arial,Sans-Serif;
    font-size: 8pt;
    font-weight: normal;
    border: solid #cccccc 1px;
    text-decoration: none;
    cursor: pointer;
}